FOUNDRY_PROFILE=local

URL_ETH_MAINNET=https://ethereum.publicnode.com/
URL_GOERLI=https://rpc.ankr.com/eth_goerli

URL_ARBITRUM=https://arb1.arbitrum.io/rpc
URL_GOERLI_ARBITRUM=https://arbitrum-goerli.public.blastapi.io

URL_POLYGON=https://polygon-rpc.com/
URL_MUMBAI=https://rpc-mumbai.maticvigil.com

URL_BSC=https://bsc-dataseed.binance.org/
URL_BSC_TESTNET=https://data-seed-prebsc-2-s2.binance.org:8545

URL_BASE=https://mainnet.base.org
URL_GOERLI_BASE=https://goerli.base.org

URL_ANVIL=http://localhost:8545

ETHERSCAN_API_KEY=XXXXXXXXXXXXXXXXX
POLYGONSCAN_API_KEY=XXXXXXXXXXXXXXXXX
BSCSCAN_API_KEY=XXXXXXXXXXXXXXXXX
ARBISCAN_API_KEY=XXXXXXXXXXXXXXXXX
BASESCAN_API_KEY=XXXXXXXXXXXXXXXXX

DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
SDEX_ADDRESS=0x5de8ab7e27f6e7a1fff3e5b337584aa43961beef
WSTETH_ADDRESS=0x7f39C581F595B53c5cb19bD0b3f8dA6c935E2Ca0
WETH=0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
PERMIT2=0x000000000022D473030F116dDEE9F6B43aC78BA3
UNISWAP_V2_FACTORY=0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f
UNISWAP_V3_FACTORY=0x1F98431c8aD98523631AE4a59f267346ea31F984
UNISWAP_PAIR_INIT_HASH=0x96e8ac4277198ff8b6f785478aa9a39f403cb768dd02cbee326c3e7da348845f
UNISWAP_POOL_INIT_HASH=0xe34f199b19b2b4f47f68442619d555527d244f78a3297ea89325f843f87b8b54
SMARDEX_FACTORY=0xB878DC600550367e14220d4916Ff678fB284214F

USDN=
USDN_PROTOCOL=