[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/usdn-contracts"]
	path = lib/usdn-contracts
	url = https://github.com/SmarDex-Ecosystem/usdn-contracts
